*{
    padding: 0;
    margin: 0;
    border-width: border-box;
}
.face {
    height: 156px;
    width: 156px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;
}
nav > h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
nav > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}
nav {
    margin-top: 50px;    
}
.info {
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.block {
    width: 100px;
    height: 57px;
    border-radius: 25px;
    background-color: #E5E5E5;
    display: block;
    padding-top: 10px;
    margin-top: 20px;
}   
.a1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #4E5150;
}
.a2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}
main {

    margin: 0 auto;
    margin-top: 3%;
    width: 80%;
    display: grid;
    grid-template-areas: 'a b b'
                         'c c d'
                         'e f d';
    row-gap: 10px;
    gap: 30px;
}
.i1 {grid-area: a;}
.i2 {grid-area: b;}
.i3 {grid-area: c;}
.i4 {grid-area: d;}
.i5 {grid-area: e;}
.i6 {grid-area: f;}
img {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
footer {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}
a {
    text-decoration: none;
}

@media (max-width: 600px){
    main {
       row-gap: 5px;
        gap: 10px;
    }
    
.info {
    display: flex;
    justify-content: space-around;
    width: 80%;
}   

.block {
    width: 78px;
    height: 42px;
    border-radius: 12   px;
    padding-top: 15px;
    margin-top: 20px;
}   
.a1{
    font-size: 12px;
    line-height: 15px;
}
.a2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}
.face {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;
}
   }

